[submodule "BnsDatafilePlugin_AnimationRemover/deps/DatafilePluginSdk"]
	path = BnsDatafilePlugin_AnimationRemover/deps/DatafilePluginSdk
	url = https://github.com/leanleon93/BnsPlugin_DatafilePluginLoader
	branch = minimal-sdk-headers
[submodule "BnsDatafilePlugin_AnimationRemover/deps/BnsPluginTables/NEO"]
	path = BnsDatafilePlugin_AnimationRemover/deps/BnsPluginTables/NEO
	url = https://github.com/leanleon93/BnsPluginTables
	branch = main
[submodule "BnsDatafilePlugin_AnimationRemover/deps/BnsPluginTables/LIVE"]
	path = BnsDatafilePlugin_AnimationRemover/deps/BnsPluginTables/LIVE
	url = https://github.com/leanleon93/BnsPluginTables
	branch = live-server
